<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
		<ion-title>Ordenes</ion-title>
	</ion-navbar>

</ion-header>


<ion-content class="bg">
	<table>
		<tr>
			<th class="title"> Mesa </th>
			<th class="title"> Mozo </th>
			<th class="title"> Código </th>
			<th class="title"> </th>
		</tr>
		<tr *ngFor="let o of orders; let i = index">
			<th text-left> {{o.table.name}} </th>
			<th text-left> {{o.table.waiter.name}} {{o.table.waiter.lastname}} </th>
			<th text-left> {{o.table.code}} </th>
			<th class="button-th"> <button (click)="goToDetail(o.id)" ion-button clear color="primary">Más > </button> </th>
		</tr>
	</table>

	<div text-center>
		<button *ngIf="prev != undefined" (click)="page(prev)" ion-button clear color="primary"> Anterior </button>
		<button *ngIf="next != undefined" (click)="page(next)" ion-button clear color="primary"> Siguiente </button>
	</div>
</ion-content>
